*{
    padding: 0; 
    margin:0; 
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

body{
	scroll-behavior: smooth;
	overflow-x: hidden;
	padding-top: 87px;
}


	/* navigation */
nav {
		width: 100%;
		height: 85px;
		background: url('41648077.jpg') no-repeat;
		background-size: cover;
		color: black;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 80px;
		position: fixed;
		top: 0;
		background-color: white;
		z-index: 1;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		
	}
.logo{
	font-family: sans-serif;
	font-size:2.5em;
}
.logo span{
	color: #e74c3c;
}
.menu a{
	text-decoration: none;
	color: black;
	font-size:20px;
	
	padding: 10px 20px;
	font-family: sans-serif;

}
.menu a:first-child{
	color:black;
}
.menu a:hover{
	color: #e74c3c;
	transition: 0.4s;
}
.icon i{
	font-size:20px;
}
.icon i:hover{
	color: #e74c3c;
}
.icon a{
	padding:10px 20px;
	background:#e74c3c;
	color:white;
	text-decoration: none;
	margin-left:30px;
	border-radius: 5px;  
}
.icon a:hover{
	background: transparent;
	border:1px solid #e74c3c;
	color: black;
	transition: 0.4s ease;
}


footer{
	background: #262626;
	color: white;
	width: 100%;
	padding: 50px 100px;
	margin-top: 0px;
}
.f-contact{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top:3em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.f-contact>div{
	margin: 50px;
}
.f-contact p{
	line-height:2em;
	font-size: 20px;
	color: grey;	
	cursor: pointer;
}
.f-contact p:hover{
	color: white;
}
.f-contact i{
	background: white;
	color: black;
	padding:10px;
	font-size:16px;
	margin: 20px 5px;
	border-radius: 50%;
	transition: .4s ease;
}
.f-contact i:hover{
	background: transparent;
	border:1px solid white;
	color: white;
}
div{
	margin: 0;
	padding: 0;
}
div.one{
	margin-top: 80px;
    width: 1263px;
    height: 750px;
    background-image: url("firstphoto.jpg");
    backdrop-filter: blur(10px);
    backdrop-filter: url(commonfilters.svg#filter);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
div.one::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit; 
    filter: blur(4px); 
    z-index: -1;
}
div.two{
    width: 1263px;
    height: 500px;
    background-image: url("secondphoto.jpg");
    backdrop-filter: blur(10px);
    backdrop-filter: url(commonfilters.svg#filter);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
div.two::before { 
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit; 
    filter: blur(4px); 
    z-index: -1;
}
div.three{
    width: 1263px;
    height: 500px;
    background-image: url("vet.jpg");
    backdrop-filter: blur(10px);
    backdrop-filter: url(commonfilters.svg#filter);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
div.three::before { 
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit; 
    filter: blur(4px); 
    z-index: -1;
}
div.home{
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5px;
}
div.four{
	width: 350px;
	height: 200px;
	margin-top: 50px;
	margin-left: 60px;
	background-image: url(happypet.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	box-shadow: #e74c3c 0 0 25px;
}
div.five{
	width: 350px;
	height: 200px;
	margin-top: 150px;
	margin-left: 50px;
	background-image: url(shelter.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	box-shadow: #e74c3c 0 0 25px;
}
div.six{
	width: 350px;
	height: 200px;
	margin-top: 50px;
	margin-left: 50px;
	background-image: url(vetclinic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	box-shadow: #e74c3c 0 0 25px;
} 
div.container1{
	display: flex;
	flex-direction: row;
}

div.right{
	/*background-image: url(petowner.jpg);
	border-radius: 100%;*/
	background-repeat: no-repeat;
	background-size: cover;
}
div.right img{
	margin-right: 150px;
	margin-top: 130px;
	border-radius: 100%;
	width: 400px;
	height: 400px;
	box-shadow: 0px 0px 100px #e74c3c;
}
div.container2{
	display: flex;
	flex-direction: row;
}
.bone{
    float: left;
    margin-left: 100px;
    width: 300px;
    height: 100px;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-size: 40px;
    border-color: white;
	text-shadow: black 0 0 10px;
	box-shadow: black 0 0 10px;
}
.bone:hover{
    box-shadow: #e74c3c 0 0 20px;
    text-shadow: #e74c3c 0 0 20px;
    transition-duration: 0.4s;
}
.btwo{
    margin-top: 10px;
    margin-left: 100px;
    width: 350px;
    height: 100px;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-size: 40px;
    border-color: white;
	text-shadow: black 0 0 10px;
	box-shadow: black 0 0 10px;
}
.btwo:hover{
    box-shadow: #e74c3c 0 0 20px;
    text-shadow: #e74c3c 0 0 20px;
    transition-duration: 0.4s;
}
.bthree{
    float: right;
    margin-right: 100px;
    margin-top: 270px;
    width: 350px;
    height: 130px;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-size: 40px;
    border-color: white;
	text-shadow: black 0 0 10px;
	box-shadow: black 0 0 10px;
}
.bthree:hover{
	box-shadow: #e74c3c 0 0 20px;
    text-shadow: #e74c3c 0 0 20px;
    transition-duration: 0.4s;
}
.bfour{
	float: right;
	margin-top: 200px;
    margin-right: 100px;
    width: 250px;
    height: 150px;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-size: 35px;
    border-color: white;
	text-shadow: black 10px 10px 10px;
	box-shadow: black 0 0 10px;
}
.bfour:hover{
	box-shadow: #e74c3c 0 0 20px;
    text-shadow: #e74c3c 0 0 20px;
    transition-duration: 0.4s;
}
.bjoin{
	margin-left: 400px;
	padding: 10px;
	color: white;
	background-color: #e74c3c;
	border: none;
	width: 100px;
	height: 50px;
	border-radius: 7px;
	font-size: 20px;
}
.bjoin:hover{
	background-color: #fc554f;
}

.blogin{
	padding: 10px;
	color: white;
	background-color: #e74c3c;
	border: none;
	width: 80px;
	height: 40px;
	border-radius: 7px;
	font-size: 20px;
}
.blogin:hover{
	background-color: #b43c2e;
}
.pone{
    float: right;
    color: white;
    margin-top: 0px;
    margin-left: 600px;
    font-size: 40px;
    text-align: center;
    text-shadow: black 1px 0 10px;
    margin-top: 30px;
}
.ptwo{
    float: left;
    color: white;
    margin-top: 0px;
    margin-left: 600px;
    font-size: 40px;
    text-align: center;
    text-shadow: black 1px 0 10px;
    margin-top: 50px;
}
.pthree{
    float: left;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 40px;
    text-align: center;
    text-shadow: black 1px 0 10px;
    max-width: 600px;
}
.pfour{
	float: left;
    color: white;
    margin-top: 80px;
    margin-left: 100px;
	max-width: 600px;
    font-size: 40px;
    text-align: center;
    text-shadow: black 1px 0 10px;
}
.pfive{
	font-size: 50px;
	color: #e74c3c;
	width: 100%; 
   	text-align: center; 
   	border-bottom: 1px solid rgb(114, 113, 113); 
   	line-height: 0.1em;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
    margin-right: 30px;
}
.psix{
	font-size: 20px;
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
    color: rgb(86, 85, 85);
}
.pseven{
	font-size: 50px;
	color: #e74c3c;
	width: 100%; 
   	text-align: center; 
   	border-bottom: 1px solid rgb(114, 113, 113); 
   	line-height: 0.1em;
	margin-top: 50px;
	margin-bottom: 20px;
}
.shome1{
	margin-top: 150px;
	margin-left: 70px;
	font-size: 50px;
	max-width: 500px;
	float: left;
}
.shome2{
	float: left;
	margin-top: 20px;
	margin-left: 70px;
	font-size: 25px;
	color: gray;
	max-width: 400px;
}
.sfive{
	background:#fff; 
    padding:0 10px; 
}
.ssix{
	background:#fff; 
    padding:0 10px; 
}
.sseven{
	font-size: 35px;
	color: white;
}
.img1{
	float: right;
	margin-top: 130px;
	margin-right: 150px;
	width: 430px;
	height: 430px;
	box-shadow: #f27466 0 0 200px;
	border-radius: 100%;
}
.name{
	margin-left: 150px;
	font-size: 20px;
}
.mail{
	margin-left: 150px;
	font-size: 20px;
}
.phone{
	margin-left: 150px;
	font-size: 20px;
}
input{
	width: 600px;
	height: 50px;
	padding: 10px;
	font-size: 20px;
	box-sizing: border-box;
  	border: 2px solid #060606;
  	-webkit-transition: 0.5s;
  	transition: 0.5s;
  	outline: none;
	border-radius: 7px;
}
input:focus{
	border: 2px solid rgb(158, 155, 155);	
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
input:focus::-moz-placeholder {
   opacity: 0;
}
input:focus:-ms-input-placeholder {
    opacity: 0;
}
input:focus:-moz-placeholder {
   opacity: 0;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .popup-content {
    background-color: #fff;
    width: 400px;
	height: 350px;
    padding: 20px;
    margin: 10% auto;
    position: relative;
	border-radius: 6px;
	font-size: 20px;
  }
  .popup-content input{
	width: 350px;
	height: 40px;
	border: 1.5px solid black;
  }
  .popup-content input:hover{
	border: 1.5px solid gray;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
.open-popup{
	width: 80px;
	height: 40px;
	background-color: #e74c3c;
	color: white;
	font-size: 15px;
	border: none;
	border-radius: 4px;
}
.s2{
	text-align: center;
	font-size: 30px;
}
.sub{
	width: 80px;
	height: 40px;
	background-color: green;
	color: white;
	font-size: 15px;
	border: none;
	border-radius: 4px;	
	margin-left: 140px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 999;
}

/* Styles for the centered popup */
.popup2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    z-index: 1000;
}
div.popup2 img{
	margin-top: -50px;
	width: 100px;
	height: 100px;
}
button.bpop2{
	width: 80px;
	height: 40px;
	background-color: green;
	border-radius: 5px;
	color: white;
	margin-left: 0px;
	border: none;
}
button.bpop2:hover{
	background-color: rgb(1, 98, 1);
}